.hidden {
  display: none !important;
}

#upload_nota_button {
  padding: 20px;
  color: white;
  background-color: $manaca-purple;
  border: none;
  font-weight: bold;
  border-radius: 3px;
  margin: 0 auto;
  font-size: 18px;
}

input::placeholder {
  color: $manaca-purple !important;
  opacity: 0.8 !important;
}

.manaca-btn {
  padding: 8px 32px;
  background-color: $manaca-purple;
  color: white;
  border: none;
  text-align: center;
  border-radius: 4px ;
  margin: 10 auto;
  text-decoration: none;
  font-weight: normal;
  :hover {
    color: white;
    text-decoration: none !important;
  }
}


.hashtags-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 601px;
  margin: 43px auto;

  .hashtags {
    font-family: 'Avenir';
    color: #2c4687;
    border-bottom: 6px solid $manaca-purple;
    margin-bottom: 30px;
    margin-top: 52px;
    padding: 0;
  }
  p {
    font-family: 'Avenir';
    color: #585a5e;
    max-width: 635px;
    padding: 20px;
    font-size: 25px;
    margin-bottom: 0;
  }
  h4 {
    font-family: 'Avenir' !important;
    color: #2c4687;
    font-weight: bold;
    font-size: 38px;
  }
}

@media (max-width: 767px) {
  .hashtags-box {
    max-width: 300px !important;
    p {
      max-width: 300px !important;
      font-size: 20px;
    }
  }
}

.hashtags-promo {
  color: #EE76FE;
  margin: 12px;
  line-height: 1.3em;
}

.secondary-title {
  color: $manaca-purple;
  margin-bottom: 30px;

}

.invoice-wrapper {
  font-family: 'Avenir';
  border: 8px solid $manaca-purple;
  border-radius: 2px;
  padding: 16px 40px 70px 40px;
  position: relative;
  text-align: center;
  margin-bottom: 62px;
  margin-top: 57px;
  transition: 0.5s;
}

.invoice-wrapper-logo {
  position: absolute;
  bottom: -45px;
  left: calc(50% - 50px);
  width: 100px;
}

.parceiros {
  align-items: center !important;
  text-align: center;
}

.logo-parceiros {
  height: 100%;
  max-height: 100px;
  padding: 16px;
  margin-bottom: 16px;

}

.error-message {
  display: block;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #EE5F5B;
}

#invoice_filename {
  color: rgba(120, 120, 120, 1);
  margin-top: 6px;
}

input {
  margin: 0 auto;
  max-width: 340px;
}

.lead-span {
  display: inline-block;
  background-color: white;
  width: auto;
  border-radius: 4px;
  color: #4166FC;
  margin: 0 auto;
  align-self: flex-end;
}

.lead-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8px;
  text-align: center;
}

.lead-text {
  flex-grow: 1;
  text-align: left;
  color: #676E72;
}

#parceiros {
  margin-bottom: 45px;

  .secondary-title {
  color: $manaca-purple;
  margin-bottom: 8px !important;

}

}

#banner {
  margin-bottom: 30px;
}

.testimonial-wrapper {
  color: rgba(120, 120, 120, 1);
  margin-bottom: 60px;
  font-size: 17px;
}

.testimonial-author {
  margin-bottom: 0;
  padding-bottom: 0;
}

.wrapper-title {
  font-size: 18px;
  color: $manaca-purple;
}

.invoice-wrapper-logo:hover {
}

@media (max-width: 576px) {
  .invoice-wrapper {
  padding: 16px 16px 70px 16px;
  margin-bottom: 105px;
  }

  .lead-info {
    flex-direction: column;
  }

  .lead-span {
    display: block;
    margin: 8px auto;
  }

  .hashtags-box {
    flex-direction: column;
    text-align: center;
  }

  #parceiros {
    .secondary-title {
      margin-bottom: 30px !important;
    }
  }
}

// CARD SECTION
.card-grid {
  font-family: 'Avenir';
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 16px;
  color: #585a5e;

  .card-content {
    width: 440px;
  }
  .card-image {
    margin: 7px;
    height: 56px;
  }

  h3 {
  color: #162d5a;
  font-family: 'Avenir';
  font-weight: bold;
  font-size: 45px;
  }
  h4 {
  font-family: 'Avenir';
  }
  .index {
    color: $manaca-purple;
  }
}

@media (max-width: 767px) {
  .card-content {
    width: 300px !important;
  }
}

// BOX SECTION

.box {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  margin-bottom: 15px;

  .box-simulate {
    display: flex;
    text-align: center;
    align-items: center;
    border: 6px solid $manaca-purple;
    padding: 45px 70px;
    min-height: 90px;

    .click-btn {
      cursor: pointer;
      color: white;
      background-color: $manaca-purple;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 240px;
      height: 52px;
      font-family: 'Avenir';
      margin-bottom: 0 !important;
      padding-top: 4px;
    }

    h3 {
      color: $manaca-purple;
      font-family: 'Avenir';
      font-weight: bold;
      margin-top: 7px;
      margin-right: 65px;
      margin-bottom: 0px;
    }
  }
}

@media (max-width: 767px) {
  .box {
    margin: 10px;
  }
  .box-simulate {
    flex-direction: column;
    max-width: 300px !important;

    h3 {
      margin-right: 0 !important;
      margin-bottom: 5px !important;
    }
  }
  .click-btn {
    margin-top: 7px;
  }
}

// INFOS
.infos {
  background-color: #f7f8fc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 15px;
  margin-top: 60px;
  align-items: center;
  font-family:  'Avenir';
  padding: 35px 0;

  .info-title {
    text-align: center;
    font-family:  'Avenir';
    font-weight: bold;
    font-size: 32px;
    margin: 32px;
    // width: 0 auto;
    max-width: 420px;
  }

  h4 {
    color: $manaca-purple;
  }

  .info-cards {
    display: flex;
    justify-content: space-evenly;
    margin: 0 15px;
    width: 100%;
  }

  .cards {
    align-items: start;
    margin: 7px 15px;
    max-width: 362px;
    padding: 0 27px;

    p {
      font-size: 11px;
    }
  }

  .subtitle {
    font-family:  'Avenir';
    font-size: 16px;
  }
  .info-icon {
    margin: 7px;
    margin-bottom: 20px;
    height: 36px;
  }
}

@media (max-width: 767px) {
  .info-cards {
    flex-direction: column;
    align-items: center;
  }
  .info-title {
    text-align: start !important;
    font-size: 28px !important;
  }
}

.manaca-color {
  color: $manaca-purple;
}


// FEES AND TAXES
.fees {
  display: flex;
  justify-content: space-evenly;
  margin: 100px 30px;
  font-family:  'Avenir' !important;
  color: #162D5A;
  align-items: center;

  .fees-text {
    width: 550px;
    padding: 45px 0;
    padding-right: 25px;

    h4 {
      font-family:  'Avenir';
      font-weight: bold;
      font-size: 34px;
    }
    p {
      text-align: justify;
    }
  }

  .fees-graph {
    max-width: 556px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 48px 18px;
    box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    height: fit-content;
    margin-bottom: 36px;

    h5 {
      font-family:  'Avenir';
      font-size: 22px;
    }
    p {
      text-align: justify;
      font-size: 15px;
    }

    .graph-content {
      display: flex;
      align-self: start;
      flex-direction: column;
      margin: 0 auto;

      .graph-data-manaca {
        display: flex;
        align-items: center;
        margin-left: 105px;
        .graph-manaca {
          background-color: $manaca-purple;
          width: 70px;
          height: 30px;
          margin: 2px 10px;
        }
      }
      .graph-data-fidcs {
        opacity: 0.7;
        display: flex;
        align-items: center;
        margin-left: 105px;
        .graph-fidcs {
          background-color: $manaca-purple;
          width: 106px;
          height: 30px;
          margin: 2px 22px;
        }
      }
      .graph-data-factor {
        opacity: 0.7;
        display: flex;
        align-items: center;
        margin-left: 74px;;
        .graph-factor {
          background-image: linear-gradient(to right, $manaca-purple , #d5a8fc);
          width: 175px;
          height: 30px;
          margin: 2px 22px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .fees {
    flex-direction: column;

    .fees-text {
      width: auto;
      padding-right: 0;
      text-align: center;
      margin: 0 auto;
      text-align-last: center;
    }

    .fees-graph {
      margin: 0;
      margin-top: 25px;
      .graph-data-manaca {
        margin-left: 3px !important;
        .graph-manaca {
          width: 51px !important;
          margin: 2px 64px 2px 23px !important;
        }
      }
      .graph-data-fidcs {
        margin-left: 4px !important;
        .graph-fidcs {
          margin: 2px 33px 2px 35px !important;
          width: 82px !important;
        }
      }
      .graph-data-factor {
        margin-left: 2px !important;
        .graph-factor {
          margin: 2px 6px !important;
          width: 110px !important;
        }
      }
    }
  }

}

// BENEFITS

.benefits {
  display: flex;
  justify-content: space-evenly;
  font-family:  'Avenir' !important;
  margin: 0 15px;
  margin-top: 60px;
  margin-bottom: 40px;

  .taxes-numbers {
    border: 6px solid #4166FC;
    padding: 12px;
    padding-right: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .subtitle {
      color: #585a5e;
    }
    .numbers {
      color: $manaca-purple;
    }
  }

  .taxes-infos {
    padding: 12px;
    width: 530px;

    .taxes-subtitle {
      color: #162D5A;
      font-weight: bold;
      margin-bottom: 12px;
      font-size: 35px;
    }
    .taxes-text {
      text-align: justify;
    }
  }

}

@media (max-width: 767px) {
  .benefits {
    flex-direction: column;

    .taxes-infos {
      text-align: center;

      .taxes-text{
        text-align: justify;
        text-align-last: center;
      }
    }

    .taxes-numbers {
      margin: 0 auto;
      width: 300px;
    }

    .taxes-infos {
      margin: 0 auto;
      margin-top: 30px;
      width: 300px;
    }
  }

}

// REVIEW

.review {
  text-align: center;
  width: 352px;
  margin: 0 auto;
  font-family:  'Avenir';
  margin-top: 90px;

  .review-icon {
    width: 60px;
    margin: 0 auto;
    border: 2px #3540ff solid;
    border-radius: 50px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .review-text {
    color: #162d5a;
    padding: 20px;
  }
  .divisor{
    width: 50px;
    height: 3px;
    background: #0339de;
    margin: 0 auto;
    margin-top: 0px;
  }
  .review-autor {
    padding: 15px 0;
  }
}

@media (max-width: 767px) {
  .review{
    width: 300px;
  }
}

// ANTECIPATION
.antecipation {
  width: auto;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  margin-top: 62px;
  margin-bottom: 100px;
  padding: 0 18px;

  .antecipation-info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 400px;
    font-family: 'Avenir';

    .ant-title {
      color: #162d5a;
      font-weight: bold;
      font-size: 40px;
    }
    .ant-text {
      text-align: justify;
      margin: 25px 0;
    }
    .ant-button {
      cursor: pointer;
      width: 57%;
      text-align: center;
      border: 1px $manaca-purple solid;
      color: $manaca-purple;
      padding: 16px 16px 10px 16px;
    }
  }

  .ant-image {
    .img {
      width: 400px;
    }
  }
}

@media (max-width: 767px) {
  .antecipation {
    flex-direction: column;
    align-items: center;
    .antecipation-info {
      padding: 9px;
      align-items: center;
      text-align: center;
      width: 300px;
    }
  }
  .ant-image {
    margin-top: 40px;
    .img {
      width: 300px !important;
    }
  }
}

