.hidden {
  display: none !important;
}

#upload_nota_button {
  padding: 24px;
  color: $manaca-purple;
  background-color: white;
  border: none;
  font-weight: bold;
  text-align: center;
  border-radius: 8px;
  margin: 0 auto;
}

input::placeholder {
  color: $manaca-purple !important;
  opacity: 0.8 !important;
}

.manaca-btn {
  padding: 8px 32px;
  background-color: $manaca-purple;
  color: white;
  border: none;
  text-align: center;
  border-radius: 4px ;
  margin: 0 auto;
  text-decoration: none;
  font-weight: normal;
  :hover {
    color: white;
    text-decoration: none !important;
  }
}


.hashtags-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  .hashtags {
    font-family: 'Avenir';
    color: #2c4687;
    width: 0 auto;
    border-bottom: 3px solid $manaca-purple;
    margin-bottom: 30px;
  }
  p {
    font-family: 'Avenir';
    color: #585a5e;
    max-width: 635px;
    padding: 20px;
  }
  h4 {
    color: #2c4687;
  }
}



.hashtags-promo {
  color: #EE76FE;
  margin: 12px;
  line-height: 1.3em;
}

.secondary-title {
  color: $manaca-purple;
  margin-bottom: 30px;

}

.invoice-wrapper {
  background-color: rgb(220, 220, 220);
  border-radius: 8px;
  padding: 16px 40px 70px 40px;
  position: relative;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 32px;
  transition: 0.5s;
}

.invoice-wrapper-logo {
  position: absolute;
  bottom: -45px;
  left: calc(50% - 50px);
  width: 100px;
}

.parceiros {
  align-items: center !important;
  text-align: center;
}

.logo-parceiros {
  height: 100%;
  max-height: 100px;
  padding: 16px;
  margin-bottom: 16px;

}

.error-message {
  display: block;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #EE5F5B;
}

#invoice_filename {
  color: rgba(120, 120, 120, 1);
}

input {
  margin: 0 auto;
  max-width: 340px;
}

.lead-span {
  display: inline-block;
  background-color: white;
  width: 200px;
  border-radius: 4px;
  color: $manaca-purple;
  margin-left: 24px;
  align-self: flex-end;
}

.lead-info {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.lead-text {
  flex-grow: 1;
  text-align: left;
}

#parceiros {
  margin-bottom: 45px;

  .secondary-title {
  color: $manaca-purple;
  margin-bottom: 8px !important;

}

}

#banner {
  margin-bottom: 30px;
}

.testimonial-wrapper {
  color: rgba(120, 120, 120, 1);
  margin-bottom: 60px;
  font-size: 17px;
}

.testimonial-author {
  margin-bottom: 0;
  padding-bottom: 0;
}

.wrapper-title {
  font-size: 18px;
  color: $manaca-purple;
}

.invoice-wrapper-logo:hover {
}

@media (max-width: 576px) {
  .invoice-wrapper {
  padding: 16px 16px 70px 16px;
  margin-bottom: 50px;
  }

  .lead-info {
    flex-direction: column;
  }

  .lead-span {
    display: block;
    margin: 8px auto;
  }

  .hashtags-box {
    flex-direction: column;
    text-align: center;
  }

  #parceiros {
    .secondary-title {
      margin-bottom: 30px !important;
    }
  }
}

.card-grid {
  font-family: 'Avenir';
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 16px;
  color: #585a5e;

  .card-image {
    margin: 7px;
    height: 56px;
  }

  h3 {
  color: #162d5a;
  font-family: 'Avenir';
  font-weight: bold;
  }
  h4 {
  font-family: 'Avenir';
  }
  .index {
    color: $manaca-purple;
  }
}

.box {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;

  .box-simulate {
    display: flex;
    text-align: center;
    align-items: center;
    border: 5px solid $manaca-purple;
    padding: 25px;
    min-height: 90px;

    .click-btn {

      color: white;
      background-color: $manaca-purple;
    }

    h3 {
      color: $manaca-purple;
      font-family: 'Avenir';
      font-weight: bold;
      margin-top: 7px;
      margin-right: 7px;
      margin-bottom: 0px;
    }

    p {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 240px;
      height: 52px;
      font-family: 'Avenir';
      margin-bottom: 0 !important;
    }
  }
}

@media (max-width: 767px) {
  .box {
    margin: 10px;
  }
  .box-simulate {
    flex-direction: column;
  }
  .click-btn {
    margin-top: 7px;
  }
}

// INFOS
.infos {
  background-color: #f7f8fc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 15px;
  margin-top: 60px;
  align-items: center;
  font-family:  'Avenir';

  .info-title {
    text-align: center;
    font-family:  'Avenir';
    font-weight: bold;
    font-size: 34px;
    margin: 16px;
    width: 0 auto;
    max-width: 420px;
  }

  h4 {
    color: $manaca-purple;
  }

  .cards {
    align-items: start;
    margin: 7px 15px;
  }

  .info-cards {
    display: flex;
    justify-content: center;
    margin: 0 15px;
  }
  .subtitle {
    font-family:  'Avenir';
    font-size: 21px;
  }
  .info-icon {
    margin: 7px;
    margin-bottom: 20px;
    height: 36px;
  }
}

@media (max-width: 767px) {
  .info-cards {
    flex-direction: column;
  }
  .info-title {
    font-size: 28px;
  }
}

.manaca-color {
  color: $manaca-purple;
}


// FEES AND TAXES
.fees {
  display: flex;
  justify-content: center;
  margin: 50px 30px;
  font-family:  'Avenir' !important;
  color: #162D5A;

  .fees-text {
    width: 970px;
    padding-right: 25px;

    h4 {
      font-family:  'Avenir';
      font-weight: bold;
      font-size: 26px;
    }
    p {
      text-align: justify;
    }
  }
  .fees-graph {
    padding: 15px;
    box-shadow: 1px 1px 15px;

    h5 {
      font-family:  'Avenir';
      font-size: 17px;
    }
    p {
      text-align: justify;
      font-size: 15px;
    }
  }
}

@media (max-width: 767px) {
  .fees {
    flex-direction: column;

    .fees-text {
      width: auto;
      padding-right: 0;
      text-align: center;

    }
    .fees-graph {
      margin-top: 25px;
    }
  }

}

// BENEFITS

.benefits {
  display: flex;
  justify-content: space-evenly;
  font-family:  'Avenir' !important;
  margin: 0 15px;
  margin-top: 60px;
  margin-bottom: 40px;

  .taxes-numbers {
    border: 5px solid $manaca-purple;
    padding: 12px;

    .subtitle {
      color: #585a5e;
    }
    .numbers {
      color: $manaca-purple;
    }
  }

  .taxes-infos {
    padding: 12px;
    width: 530px;

    .taxes-subtitle {
      color: #162D5A;
      font-weight: bold;
      margin-bottom: 12px;
    }
    .taxes-text {
      text-align: justify;
    }
  }

}

@media (max-width: 767px) {
  .benefits {
    flex-direction: column;

    .taxes-numbers {
      margin: 0 auto;
      width: 300px;
    }

    .taxes-infos {
      margin: 0 auto;
      margin-top: 30px;
      width: 300px;
    }
  }

}

// REVIEW

.review {
  text-align: center;
  width: 352px;
  margin: 0 auto;
  font-family:  'Avenir';


  .review-icon {
    width: 60px;
    margin: 0 auto;
    border: 1px #3540ff solid;
    border-radius: 50px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .review-text {
    color: #162d5a;
    padding: 20px;
  }
  .divisor{
    width: 30px;
    height: 2px;
    background: #0339de;
    margin: 0 auto;
    margin-top: 20px;
  }
  .review-autor {
    padding: 15px 0;
  }
}

@media (max-width: 767px) {
  .review{
    width: 300px;
  }
}

// ANTECIPATION
.antecipation {
  width: auto;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  margin-top: 62px;
  margin-bottom: 40px;

  .antecipation-info{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 300px;
    font-family: 'Avenir';

    .ant-title {
      color: #162d5a;
      font-weight: bold;
      font-size: 28px;
    }
    .ant-text {
      text-align: justify;
      margin: 25px 0;
    }
    .ant-button {
      width: 57%;
      text-align: center;
      border: 1px $manaca-purple solid;
      color: $manaca-purple;
      padding: 10px 10px 5px 10px;
    }
  }

  .ant-image {
    .img {
      width: 300px;
    }
  }
}

@media (max-width: 767px) {
  .antecipation {
    flex-direction: column;
    align-items: center;
  }
  .ant-image {
    margin-top: 40px;
  }
}
