<div id="footer">
  <div class="footer-logo">
    <%= image_tag 'manaca-logo-horizontal-b@3x.png', class: "footer-logo" %>
  </div>
  <div class="footer-copyright">
    <p>Desenvolvido por <a href="http://www.hortalab.com/" target="_blank">HortaTech <%= image_tag "horta-favicon.png", class: "hortalab-icon" %></a> <span style="font-size: 0.6em;"> @2019</span></p>
  </div>
</div>
