<% links_left = {
                } %>

<% links_right = {  } %>



<div class="nav-wrapper" id="nav-wrapper">
  <div class="navbar" id="navbar">
    <%= link_to root_path, class: "nav-item-logo" do %>
      <%= image_tag 'manaca-logo-horizontal@2x.png', class: "logo" %>
    <% end %>
  </div>
</div>
