<h3 id="wrapper" class="wrapper-title">Quer saber mais?</h3>
<p class="wrapper-title">Entramos em contato com você!</p>
<%= simple_form_for @lead do |lead| %>
  <%= lead.input :name, label: false, placeholder: "Nome" %>
  <%= lead.input :phone, label: false, placeholder: "Telefone" %>
  <%= lead.submit "Antecipe já!", class: 'manaca-btn', id: 'lead_update' %>
<% end %>
