.banner {
  color: white;
  text-align: center;
  width: auto;
  height: 444px;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-color: $manaca-purple;
  background-size: cover !important;
  background-position: center center;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.banner .button {
  cursor: pointer;
  display: flex;
  width: 50%;
  height: 50px;
  align-items: center;
  padding: 6px;
  padding-top: 13px;
  justify-content: center;
  background-color: white;
  color: $manaca-purple;
  font-family: 'Avenir';
}

.banner-content {
  width: 548px;
  text-align: initial;
  color: white;
  padding: 16px;
  margin-left: 120px;
  margin-bottom: auto;
  margin-top: auto;

  .banner-text {
    font-family: 'Avenir';
    width: 70%;
  }

    h4 {
    font-size: 73px;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }
}

.banner-logo {
  height: 70%;
}
@media (max-width:1023px) {
  .banner {
    .button {
      width: 44% !important;
      text-align: center;
    }
    .banner-content {
      margin-left: 50px;
      h4 {
        font-size: 47px;
      }
    }
  }
}

@media (max-width:767px) {
  .banner {
    justify-content: end;

    .button {
      width: 75% !important;
      margin: 0 auto;
    }
  }

  .banner-logo {
    display: none;
  }

  .banner-content {
    max-width: 300px !important;
    margin: auto !important;
    text-align: center;

    .banner-text {
      margin: 16px auto;
    }

    h4 {
      font-size: 47px;
    }
  }
}
