$footer-height: 130px;

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  background-color: #4266FC;
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px -5px 5px 5px rgba(#4266FC, 0.2);
  padding-top: 12px;
}

body {
  position: relative !important;
  min-height: 100vh !important;
  padding-bottom: $footer-height !important;
  background-color: white;
}

.footer-social {
  padding-right: 80px;
}

@media (max-width: 767px) {
  .footer-social {
    padding-right: 0;
  }
}
.social-button {
  height: 34px;
  width: 34px;
  border-radius: 20px;
  font-size: 1.1em;
  margin: 0 16px;
  background-color: rgb(40, 40, 40);
  padding: 8px;
}

.footer-logo {
  // height: 40px;
  width: 100%;
  margin-bottom: 24px;
}


a .social-button {
  color: white;
  text-decoration: none;
}

a:hover .social-button{
  color: white;
    background-color: rgb(15, 15, 15);
}

.footer-copyright {
  margin-top: 10px;
  text-align: center;
  color: white !important;
  p{
    margin-bottom: 0;
  }
  a{
    text-decoration: none !important;
    color: white;
    &:hover {
      color: white !important;
      opacity: 0.8;
    }
  }
}
.hortalab-icon{
  width: 32px;
}

.footer-social-icon {
  width: 36px;
  border: 2px solid white;
  border-radius: 50%;
}

.symbol {
  width: 200px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 300;
}

.footer-text {

  z-index: 400;
  font-weight: 100;
}

.item {
  font-size: 12px;
  font-family: 'Avenir';
}
