.navbar {
  height: 110px;
  position: fixed;
  width: 100vw;
  padding: 0 30px;
  margin: 0;
  z-index: 500;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 10px 5px rgba(200, 200, 200, 0.3);
  a {
    text-decoration: none;
    font-size: 0.8em;
    background-color: white;
  }

  a:hover {
    background-color: white;
  }
}

.nav-wrapper {
  height: 110px;
  width: 100vw;
}

.nav-item-logo {
  flex: 0 0 auto;
}


.nav-items {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-mobile {
  flex: 0 0 auto;
  transition: all 0.3s ease;
}

.nav-item-left {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-item-right {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  }

.logo {
  height: 47px;
  margin-right: 16px;
}

.navbar-links {
  font-size: 24px !important;
  padding: 0 20px;
  color: $white;
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  color: rgba(0,0,0,0.3);
}
.social-links {
  display: flex;
  align-items: center;
}

.social-links a {
  color: #4F82FC;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.social-links a:hover {
  color: #4F82FC;
  opacity: 0.3;
}

.social-icon {
  width: 42px;
  color: white;
}
