
.simulate {
  color: $manaca-purple;
  font-family: 'Avenir';
  text-align: center;
  margin-bottom: 35px;
  margin-top: 15px;
  p {
    margin-bottom: 0;
  }
  h1 {
    font-family: 'Avenir-Next-Bold';
    font-weight: bold;
    font-size: 52px;
    margin: 70px auto;
  }
}

.simulate-card {
  cursor: pointer;
  padding: 36px 0;
}

.card-border {
  width: 501px;
  border: 8px solid #353cff;
  border-radius: 2px;
  margin: 0 auto 100px;
}

.pencil {
  width: 44px;
  margin: 0;
}


@media (max-width: 1439px) {
  .simulate-card {
    width: 400px;
  }
}

@media (max-width: 1023px) {
  .simulate-card {
    width: 90%;
    padding: 12px;
  }
}


@media (max-width: 767px) {
  .simulate-card {
    // width: 290px;
  }
}
